[Unit]
Description=No-ip custom updater
After=local-fs.target network-online.target

[Service]
ExecStart=/opt/no-ip-updater/no-ip-updater.sh
Restart=on-failure
KillMode=process
# User=root

[Install]
WantedBy=default.target
